/* ==========================================================================
   header / component
   ========================================================================== */

.header {
    --header-height: 100px;
    background-color: var(--color-bg-secondary);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    height: var(--header-height);
    width: 100%;
    z-index: 10;

    @media screen and (min-width: $breakpoint-md) {
        padding: calc(var(--spacing-md) / 2) var(--spacing-md);
        justify-content: center;
    }
}

.header__brand {
    width: 200px;
    position: relative;
    z-index: 10;
}

.nav-primary__item {
    font-size: var(--font-size-h1);
    color: var(--color-white);
    text-transform: uppercase;
    padding: 0 20px;
    position: relative;

    &::before {
        display: block;
        position: absolute;
        top: 100%;
        left: 20px;
        height: 2px;
        width: calc(100% - 40px);
        content: '';
        background-color: white;
        transform: scaleX(0);
        transition: 0.3s all;
    }

    &:hover {
        color: inherit;
    }

    @media screen and (min-width: $breakpoint-md) {
        font-size: var(--font-size-h2);
        color: var(--color-white);
        padding: 0 20px;
        position: relative;
        text-transform: none;

        &::before {
            display: block;
            position: absolute;
            top: 100%;
            left: 20px;
            height: 2px;
            width: calc(100% - 40px);
            content: '';
            background-color: white;
            transform: scaleX(0);
            transition: 0.3s all;
        }

        &:hover {
            text-decoration: none;
            color: inherit;
            &::before {
                transform: scaleX(1);
            }
        }
    }
}
